body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.quiz-container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.option-btn {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.option-btn:hover {
    background-color: #0056b3;
}

.scoreCard {
    background: #e2fa0b;
    width: 20%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 40%;
}